body {
        color: #000;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

p {
	margin: 0 0 1.5em;
	padding: 0;
}

b, strong {
	font-weight: 700;
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding-left: 2em;
	padding-right: 2em;
}

.logo-link {
	display: inline-block;
	padding-right: 1em;
	vertical-align: middle;
	width: auto;
}

.logo-link img {
	display: inline-block;
	max-height: 80px;
	width: auto;
}

.title {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.site-title {
	clear: none;
	font-size: 24px;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.08em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.site-title a {
	color: #222;
	opacity: 1;
	text-decoration: none;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.site-title a:hover,
.site-title a:focus {
	opacity: 0.6;
}
